/* body{
  background-color: #525252;
  
} */

.main{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}
/* .centered-form{
margin-top: 60px;
}

.centered-form .panel{
background: rgba(255, 255, 255, 0.8);
box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
} */

/* input[type=text], select,input[type=mail],input[type=password ]{
    width: 100%;
    padding: 12px 16px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  label{
    color: white;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 16px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .cont {
    border-radius: 5px;
    background-color: #0666a3;
    padding: 20px;
    width: 20em;
  } */