<!-- <ng-template [ngIf]="quantity"> -->
  <div  *ngIf="speaker.quantity >0; else outOfsale" class="card">
    <img [src]="speaker.img" class="card-img-top" alt="product">
    <div class="card-body">
      <button class="btn btn-inline" (click)="increase()">increase </button>
      <button class="btn btn-inline" (click)="decrease()">decrease</button>

      <h5 class="card-title" [ngClass]="{bgD : isOK, txC: isOK}">{{speaker.title}} - <b>{{speaker.price}}</b></h5>
      <p class="card-text" [innerText]="speaker.description"
        [ngStyle]="{'backgroundColor': bgColor, 'color': color, 'font-size': size + 'px' }"></p>
      <!-- <a routerLink="/details" class="btn btn-primary">See details</a>   8 [innerHTML]="title" -->
      <p class="card-text">remaining quantity {{speaker.quantity}}</p>

      <!-- <button [routerLink]="['/welcome/details/title', speaker.title, 'price', speaker.price , 'description', speaker.description, 'quantity', speaker.quantity]" class="btn btn-primary">See details</button> -->
      <button [routerLink]="['/welcome/details/', category, speaker.id ]" class="btn btn-primary">See details</button>

      <button class="btn btn-primary" [disabled]="checkAvailability() && speaker.quantity == 0"
        (click)="buy($event)">Buy-</button>

    </div>
  </div>


<!-- </ng-template> -->

<ng-template #outOfsale>
    <p>this product is out of sale</p>
    
</ng-template>













<!-- <div class="row text-center mt-3 ">
    <div class="col-12 col-sm-3 px-0 box1">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/download-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="/details" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-3 px-0 box1">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/download-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="/details" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-3 px-0 box1">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/download-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="/details" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-12 col-sm-3 px-0 box1">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/download-4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="/details" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>

    
</div> -->