<form class="form-horizontal box1" [formGroup]="addingForm" (ngSubmit)="add()">
  <fieldset>

    <!-- Form Name -->
    <legend>PRODUCTS</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_id">PRODUCT ID</label>
      <div class="col-md-4">
        <input id="product_id" name="product_id" placeholder="PRODUCT ID" class="form-control input-md" required=""
          type="text" formControlName="idName">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
      <div class="col-md-4">
        <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md"
          required="" type="text" formControlName="productName">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_name_fr">PRODUCT DESCRIPTION</label>
      <div class="col-md-4">
        <input id="product_name_fr" name="product_name_fr" placeholder="PRODUCT DESCRIPTION FR"
          class="form-control input-md" required="" type="text" formControlName="productDescription">

      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
      <div class="col-md-4">
        <select id="product_categorie" name="product_categorie" class="form-control" >
          <option value="speakers">speaker</option>
          <option value="phones">phones</option>
          <option value="books">books</option>

        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>
      <div class="col-md-4">
        <input id="available_quantity" name="available_quantity" placeholder="AVAILABLE QUANTITY"
          class="form-control input-md" required="" type="text" formControlName="quantity">

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="available_price">Price</label>
      <div class="col-md-4">
        <input id="available_price" name="available_price" placeholder="Price" class="form-control input-md" required=""
          type="text" formControlName="price">

      </div>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label" for="filebutton">main_image</label>
      <div class="col-md-4">
        <input id="filebutton" name="filebutton" class="input-file" type="file" formControlName="image" >
      </div>
    </div>
    <!-- File Button -->
    <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">auxiliary_images</label>
            <div class="col-md-4">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
        </div> -->

    <!-- Button -->
    <div class="form-group">
      <!-- <label class="col-md-4 control-label" for="singlebutton">Single Button</label> -->
      <div class="col-md-4">
        <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </fieldset>
</form>
